:root {
  --primary-color: #ff69b4;
  --secondary-color: #ff99cc;
  --tertiary-color: rgb(96, 254, 254);

  --head-color: rgba(251, 243, 9, 0.79);
  --font-color: #111111;
  --primary-bg: rgba(255, 255, 255, 0.333);
  --second-bg: rgba(213, 213, 213, 0.547);
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: url("assets/anime-bg.png") no-repeat center/cover fixed;
  color: var(--font-color);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.card-container {
  padding: 1.5rem 1.75rem;
  max-width: 38.75rem;
  background: var(--primary-bg);
  border: 3px solid var(--primary-color);
  border-radius: 1rem;
  box-shadow: 0 0 1rem var(--secondary-color);
}

.choices {
  margin: 50px auto;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.choice,
.result-box {
  background: var(--second-bg);
  border: 3px solid var(--secondary-color);
  border-radius: 20px;
  padding: 20px;
}

.choice {
  cursor: pointer;
  transition: 0.3s;
  width: 150px;
}

.choice img {
  width: 100px;
  height: 100px;
}

.result-box {
  width: 18.75rem;
  margin: auto;
  backdrop-filter: blur(5px);
}

#resetBtn {
  background-color: var(--primary-bg);
  color: var(--font-color);
  padding: 0.25em 0.4em;
  border: 1px solid var(--tertiary-color);
  border-radius: 0.5rem;
  transition: 0.3s;
}

.choice:hover,
#resetBtn:hover {
  transform: scale(1.1);
  background-color: var(--tertiary-color);
  box-shadow: 0 0 10px var(--tertiary-color);
}

/* typography */

.title {
  font-size: 2.8rem;
  margin-top: 30px;
}

#result {
  font-size: 1.6rem;
}

.title,
h2 {
  color: var(--head-color);
  text-shadow: 0 0.1rem 0.2rem var(--primary-color);
  margin: 0;
}

#resetBtn {
  font-size: 0.85rem;
  color: var(--font-color);
}
